:host{
    height:100%;
    width:100%;
}

table {
    width: 100%;
    height: fit-content;
}

.mat-row {
    cursor: pointer;
}

.mat-column-id{
    text-align: center !important;
    flex: 0 0 5% !important;
    width: 5% !important;
}

.mat-column-lastname{
    flex: 0 0 40% !important;
    width: 40% !important;
}
.mat-column-firstname{
    flex: 0 0 40% !important;
    width: 40% !important;
}
.mat-column-age{
    flex: 0 0 5% !important;
    width: 5% !important;
}

.mat-column-delete{
    text-align: center !important;
    flex: 0 0 5% !important;
    width: 5% !important;
}
.top-container {
    display: flex;
}

.search {
    flex-grow: 1;
}

.newUser {
    flex-grow: 1;
    padding-top: 30px;
    text-align: right;
}