:host{
  display: block;
}

ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.textual{
  padding-top: 3.5vh;
}

#right li{
  margin-right: 3vw;
  float: right;
  height: 22px;
  align-items: center;
}

#left li{
  margin-left: 3vw;
  float: left;
}

img{
  padding-left: 0.5vh;
  padding-top: 0.5vh;
  height: 9vh;
  width: 15vh;
  float: left;
}

button{
  float: right;
  width:110px;
}

a{
  height: 2vh;
  text-decoration: none;
  color: rgb(0,85,164);
  text-transform: uppercase;
}

.active{
  font-weight: bold; 
}

a:after {    
  background: none repeat scroll 0 0 transparent;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  background: linear-gradient(to right, rgb(0, 85, 164), rgb(255, 255, 255) 50%, rgb(239, 65, 53) 100%);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a:hover:after { 
  width: 100%; 
  left: 0; 
}

.active a:after{
  background-color:linear-gradient(to right, rgb(0, 85, 164), rgb(255, 255, 255) 50%, rgb(239, 65, 53) 100%);
  height:2px;
  width:100%;
}