<p>Description du projet</p>
<div>
    Ce site est le résultat du projet de JXC consacré à la programmation Front-End à l'aide d'Angular, et encadré par Hélène Feuillâtre.
</div>
<div>
    Dans le cadre de ce projet nous devions implémenter un simulacre d'un site gouvernemental pour la gestion des associations. 
</div>
<div>
    La partie serveur/back-end ayant été réalisée lors du semestre précédent dans le cadre d'un cours sur le Back-end. 
</div>
<div id="liste">
    Les objectifs de notre implémentation sont les suivants : 
    <ul>
        <li>✅ Pouvoir s'authentifier en tant qu'utilisateur</li>
        <li>✅ Accéder à son profil et mettre à jour ses informations.</li>
        <li>✅ Lister les utilisateurs.</li>
        <li>✅ Lister les associations.</li>
        <li>✅ Rechercher un utilisateur ou une association par son Id ou son nom.</li>
        <li>✅ Accéder à la fiche d'un utilisateur ou d'une association.</li>
        <li>✅ Supprimer une association ou un utilisateur.</li>
        <li>✅ Ajouter un utilisateur.</li>
        <li>❌ Modifier une association (en bonus, à faire après la création d'une association).</li>
        <li>❌ Ajouter une association (en bonus).</li>
    </ul>
</div>
<div id="img">
    <img src="../../assets/Paris.png" height=120vh>
</div>

